* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Kreadon, sans-serif;
	letter-spacing: -1px;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	background: #2e2d2d;
}

a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

@font-face {
	font-family: 'MAXWELL_BOLD';
	src: url('shared/fonts/maxwell/maxwell.bold.ttf');
}

@font-face {
	font-family: 'MAXWELL_REGULAR';
	src: url('shared/fonts/maxwell/maxwell.regular.ttf');
}

@font-face {
	font-family: 'MAXWELL_LIGHT';
	src: url('shared/fonts/maxwell/maxwell.light.ttf');
}

@font-face {
	font-family: 'Kreadon';
	src: url('shared/fonts/kreadon/Kreadon_Regular.ttf');
}

@font-face {
	font-family: 'Kreadon Bold';
	src: url('shared/fonts/kreadon/Kreadon_Bold.ttf');
}

@font-face {
	font-family: 'Kreadon Light';
	src: url('shared/fonts/kreadon/Kreadon_Light.ttf');
}
