* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: MAXWELL_REGULAR, serif;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	background: #2e2d2d;
}

a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

@font-face {
	font-family: 'MAXWELL_BOLD';
	src: url('shared/fonts/maxwell.bold.ttf');
}

@font-face {
	font-family: 'MAXWELL_REGULAR';
	src: url('shared/fonts/maxwell.regular.ttf');
}

@font-face {
	font-family: 'MAXWELL_LIGHT';
	src: url('shared/fonts/maxwell.light.ttf');
}
